# Python bytecode and cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# Streamlit static cache
.streamlit/

# Devcontainer (for GitHub Codespaces, optional)
.devcontainer/

# file to excude from git
audio_test.py
server.py
tracing_setup.py

backup_app.py
backup_github_workflow_file.yml
backup_requirement.txt
backup_dockerfile
26_11_app.py
RAG_INTEGRATION_SUMMARY.md
AG_PATTERN_CORRECTED.md
RAG_QUICK_START.md
custom_google_search.py
permamnent_vectordb.py
test_elevenlabs.py
test_rag.py
RAG_PATTERN_CORRECTED.md